<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <script src="../js/jquery-v3.4.1.js"></script>
    <script src="../js/ol3/build/ol-debug.js"></script>
    <script src="../js/ol3/build/ol.js"></script>
    <script src="../js/ol3/ol/ol/proj/proj4.js"></script>    
    <link rel="stylesheet" href="https://cdn.rawgit.com/openlayers/openlayers.github.io/master/en/v6.0.1/css/ol.css">
    
    <script src="../css/bootstrap-4.3.1/js/bootstrap.js"></script>
    <link rel="shortcut icon" href="../assets/ico.png" />
    <link rel="stylesheet" type="text/css" href="../css/bootstrap-4.3.1/css/bootstrap.css" />
    <link rel="stylesheet"
        href="https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v6.0.0/css/ol.css" type="text/css">
        <link rel="stylesheet" href="../js/ol3/css/ol.css" type="text/css">
        <link rel="stylesheet" type="text/css" href="../css/style.css" />
        <link rel="stylesheet" type="text/css" href="../css/map.css" />
        <link rel="stylesheet" type="text/css" href="../css/help.css" />

        <link rel="manifest" href="../js/manifest.json">
        <script defer src="../js/sw.js"></script>
        <script defer src="../js/site.js"></script>

    <title>Ajuda - Vagas de Estacionamento</title>
</head>

<body>
    <header class="bg-color">
        <nav id="nav" class="navbar navbar-dark primary-color">

            <!-- Navbar brand -->
            <a class="navbar-brand" href="../index.html"><img src="../assets/ico.png" width="50" height="50" />
                Manual do Usuário
            </a>

    </header>
<main role="main">
    <section class="mt-5 ml-5 mr-5 jumbotron text-left">
        <div class="container">
          <h1 class="jumbotron-heading">Manual do Usuário</h1>
          <p class="lead pb-3">
              Para que a aplicação seja executada, é necessário que alguns passos sejam seguidos:
          </p>
          <p class="lead text-muted">
            1. Verifique se seu navegador está atualizado com tecnologia html5. Fique tranquilo, quase todos tem essa tecnologia, este recurso permite obter a sua localização atual.
          </p>
          <p class="lead text-muted">
            2. Permita que a aplicação obtenha sua localização atual. No momento que iniciar a aplicação, um popup no canto superior esquerdo da tela aparecerá, neste momento, clique em "permitir".
          </p>
          <p class="lead text-muted">
            3. Interaja com a aplicação, selecionando uma vaga, alterando assim seu status para disponível (verde) ou indisponível (vermelho).
          </p>
          <p class="pt-5 lead text-bold">
            Veja abaixo uma breve explicação de alguns recursos que estão presentes na aplicação:
          </p>
        </div>
      </section>
      <div class="album bg-light">
        <div class="container">

          <div class="row">
            <div class="col-md-4">
              <div class="card mb-4 shadow-sm">
                <img class="py-5 card-img-top img-card" src="../assets/svg/location.svg"  >
                <div class="card-body">
                  <p class="card-text">Esta funcionalidade permite com que, ao transitar no mapa, o usuário não necessite ficar procurando sua posição atual. Ao acionar esse recurso, o mapa será renderizado para a sua posição original.</p>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card mb-4 shadow-sm">
                <img class="py-5 card-img-top img-card"   src="../assets/svg/loop.svg"    >
                <div class="card-body">
                  <p class="card-text">Este recurso permite com que o usuário possa atualizar o status das vagas exibidas no mapa, sem necessitar esperar o contador regressivo acionar a funcionalidade ou atualizar a página.</p>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card mb-4 shadow-sm">
                <img class="py-5 card-img-top img-card"    src="../assets/svg/lupa.svg"   >
                <div class="card-body">
                  <p class="card-text">Com o objetivo de facilitar a navegação no mapa, este recurso disponibiliza a possibilidade de inserir uma localização (recomenda-se o nome do município) e automaticamente ser levado até ela.</p>
                </div>
              </div>
            </div>

            <div class="col-md-4">
              <div class="card mb-4 shadow-sm">
                <img class="py-5 card-img-top img-card dot-red" src="../assets/svg/dot.svg">
                <div class="card-body">
                  <p class="card-text">Este ponto de coloração avermelhada indica que na localização a qual ele se econtra existe uma vaga, porém ela se encontra ocupada.</p>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card mb-4 shadow-sm">
                <img class="py-5 card-img-top img-card dot-green" src="../assets/svg/dot.svg">
                <div class="card-body">
                  <p class="card-text">Este ponto de coloração esverdeada indica que na localização a qual ele se econtra existe uma vaga, estando ela disponível.</p>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card mb-4 shadow-sm">
                <img class="py-4 card-img-top img-card dot-red" src="../assets/svg/contador.svg">
                <div class="card-body">
                  <p class="card-text">Contador regressivo que compreende o tempo de 1 minuto. Este contador controla a quatidade de tempo restante para a próxima atualização de status das vagas</p>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </main>
</body>

</html>